/**
 * Utilities
 */
* {
  padding: 0;
  margin: 0;
  border: 0; }

/**
 * Quarks
 */
input[type="text"], input[type="password"], input[type="email"] {
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: -webkit-gradient(linear, 0% 0%, 0% 15%, from(#efefef), to(white));
  background: -moz-linear-gradient(0% 15% 90deg, #fefefe, #efefef); }

/**
 * Atoms
 */
.button {
  padding: 3px 8px;
  border: 1px solid #bbb;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#f0f0f0), to(#fefefe));
  background: -moz-linear-gradient(100% 100% 90deg, #f0f0f0, #fefefe); }

/**
 * Molecules
 */
